<app-toast></app-toast>
<div>
  <h2>Show Toasts</h2>
  <button
    (click)="
      showToast(
        'This is a success message super long message will not destroy the interface !',
        'success',
        'Success',
        true,
        'top-right'
      )
    "
  >
    Show Unique Success Toast (Top Right)
  </button>
  <button
    (click)="
      showToast(
        'This is a success message!',
        'success',
        'Success',
        false,
        'top-right'
      )
    "
  >
    Show Duplicate Success Toast (Top Right)
  </button>

  <button
    (click)="
      showToast(
        'This is a success message!',
        'success',
        'Success',
        true,
        'top-left'
      )
    "
  >
    Show Unique Success Toast (Top Left)
  </button>
  <button
    (click)="
      showToast(
        'This is a success message!',
        'success',
        'Success',
        false,
        'top-left'
      )
    "
  >
    Show Duplicate Success Toast (Top Left)
  </button>

  <button
    (click)="
      showToast(
        'This is an error message!',
        'error',
        'Error',
        true,
        'bottom-left'
      )
    "
  >
    Show Unique Error Toast (Bottom Left)
  </button>
  <button
    (click)="
      showToast(
        'This is an error message!',
        'error',
        'Error',
        false,
        'bottom-left'
      )
    "
  >
    Show Duplicate Error Toast (Bottom Left)
  </button>

  <button
    (click)="
      showToast(
        'This is an info message!',
        'alert',
        'Info',
        true,
        'bottom-right'
      )
    "
  >
    Show Unique Info Toast (Bottom Right)
  </button>
</div>
